.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features{
  margin-top: -25vh;
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url('../../img/nat-4.jpg');
  height: 100vh;
  background-position: top;
  background-size: cover;

  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100% );
  clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100% );
}

.section-tours {
  margin-top: -25vh;
  padding: 25rem 0;
  background-color: $color-grey-light-1;
  // height: 100vh;
  background-position: top;

  -webkit-clip-path: polygon(-1px 25vh, 100% -1, 100% 75vh, 0 100% );
  clip-path: polygon(-1px 25vh, 100% -1, 100% 100%, 0 100% );
}

.section-stories {
  padding: 10rem 0 15rem 0;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.booking{
  background-image: 
  // trick to get solid line in the middle of a box
  linear-gradient(
    105deg,
    rgba(white, .8) 50%,
    transparent 50%), 
    
    url(../../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 6rem rgba(black, .3);

  &__form{
    width: 50%;
    padding: 6rem;
  }

}