.heading-primary{
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; /* hack to make animation non-jumping*/
  margin-bottom: 6rem;

  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;

  //gradient color for the whole text
  display: inline-block; // to limit the length of the background
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  // to set up the background color
  -webkit-background-clip: text; // to limit background to the text only
  background-clip: text;
  color: transparent; // make text transparent so that gradient could be seen

  letter-spacing: 2px;

  // hover effect
  transition: all .2s;
  &:hover{
    transform: skewY(-2deg) skewY(5deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem $color-shadow;
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}