.row{
  max-width: $grid-width;
  margin: 0 auto; // trick to center block in container 
  
  // pseudo class that selects everything except the one in brackets
  // here it selects all except last
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

    /* attribute selector to apply same 
        stuff to class that starts with "col-"
        to select ends with use $
        to select containg use *
        ! note no semicolon!
    */
    [class^="col-"] {
      float: left;
  
      &:not(:last-child){
        margin-right: $gutter-horizontal;
      }
    }

  .col-1-of-2{
    width: calc((100% - #{$gutter-horizontal}) / 2);
    float: left;

    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }

  $one-of-3: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  .col-1-of-3{
    width: $one-of-3;
  }

  .col-2-of-3{
    width: calc(100% - #{$one-of-3} - #{$gutter-horizontal});
  }

  $one-of-4 : calc((100% - 3 * #{$gutter-horizontal}) / 4);
  .col-1-of-4{
    width: $one-of-4;
  }

  $two-of-4 : calc(100% - 2 * #{$gutter-horizontal} - 2 * #{$one-of-4});
  .col-2-of-4{
    width: $two-of-4;
  }

  $three-of-4 : calc(100% - #{$gutter-horizontal} - #{$one-of-4});
  .col-3-of-4{
    width: $three-of-4;
  }
}