$card-height : 52rem;
.card {
  perspective: 150rem;
  position: relative;
  height: $card-height;

  &__side{
    font-size: 3rem;
    height: $card-height;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; // this is so that it's not showing back side when flipped
    border-radius: 3px;
    overflow: hidden; // makes the border-radius to be passed on to child
    box-shadow: 0 1.5rem 4rem $color-shadow;

    &--front{
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark),
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark),
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark),
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg); // does the flipping of front
  }

  &:hover &__side--back {
    transform: rotateY(0); // does the flipping of back
  }

  // Front side styling
  &__picture {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
    background-blend-mode: screen;
    border-radius: 3px;

    &--1 {
      background-image: linear-gradient(
        to right bottom, rgba($color-secondary-light, .6), rgba($color-secondary-dark, .6)
      ),
      url("../../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, .6)
      ),
      url("../../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom, rgba($color-tertiary-light, .6), rgba($color-tertiary-dark, .6)
      ),
      url("../../img/nat-7.jpg");
    }
  }

  &__heading {
    text-align: right;
    font-size: 2.8rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    width: 65%;

    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; // to treat lne that's been broken in 2 lines as 2 separate elements (to apply padding to each)
    &--1 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-secondary-light, .8), 
        rgba($color-secondary-dark, .8)
        );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .8), 
        rgba($color-primary-dark, .8)
        );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-tertiary-light, .8), 
        rgba($color-tertiary-dark, .8)
        );
    }
  }

  &__details{
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; // centering the text top/bottom = 0, left & right = auto

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light-2;
        }
      }

    }
  }

  // Back side of the card
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white;
  }

  &__price-only {
    font-size: 1.4rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100
  }
}